{% extends 'bootstrap/base.html' %} <!--这里是集成bootstrap的base模板-->

<!--引入moment.js库-->
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

{% block titile %}Flasky{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}" type="image/x-icon">
	<link rel="icon" href="{{url_for('static',filename='favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/navStyles.css') }}" type="text/css">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role='navigation'>
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle='collapse' data-target='.navbar-collapse'>
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ url_for('main.index') }}">天行健</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li id="nav-bar-home">
                    <a href="{{ url_for('main.index') }}">
                        <span class="glyphicon glyphicon-home" id="nav-home-pic"></span> 主页
                    </a>
                </li>
                {% if current_user.is_authenticated %}
                    <li>
                        <a href="{{ url_for("main.user", username=current_user.username) }}">
                            <span class="glyphicon glyphicon-user"></span> 个人信息
                        </a>
                    </li>
                {% endif %}
			</ul>
            <ul class="nav navbar-right">
                {% if current_user.is_authenticated %}
                 <li class="dropdown" id="accountNav-button">
                    <a href="#" id="accountNav-link" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">
                        账户 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ url_for('auth.change_password') }}">
                                <span class="glyphicon glyphicon-edit"></span> 修改密码
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for("auth.change_email_request") }}">
                                <span class="glyphicon glyphicon-edit"></span> 更换邮箱
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('auth.logout') }}">
                                <span class="glyphicon glyphicon-log-out"></span> 注销
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li id="loginNav-button">
                    <a href="{{ url_for('auth.login') }}" id="loginNav-link">
                        <span class="glyphicon glyphicon-log-in"></span> 登录
                    </a>
                </li>
                {% endif %}
                <!--加入管理评论-->
                {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                    <li id="moderateNav-button">
                        <a href="{{ url_for('main.moderate') }}">
                            <span class="glyphicon glyphicon-eye-open"></span> 管理评论
                        </a>
                    </li>
                {% endif %}
            </ul>
		</div>
	</div>
</div>	
{% endblock %}

{% block content %}
	<div class="container">
        <!--用于渲染程序出现的flash消息（警告消息）-->
		{% for message in get_flashed_messages() %}
		<div class="alert alert-warning">
			<button type="button" class="close" date-dismiss = 'alert' >&times;</button>
			{{message}}
		</div>
		{% endfor %}

		{% block page_content %}{% endblock %}
	</div>
{% endblock %}